* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  max-width: 1100px;
  font-family: "Helvetica";
}

/* navbar */
#navbar{
  height: 60px;
  background-color: white;
  line-height: 60px;
}
#logo{
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  float: left;
}
#square{
  display: inline-block;
  width: 20px;
  height: 17px;
  background-color: black;
  margin-right: 4px;
  margin-left: 30px;
}
#menu ul{
  padding: 0;
  margin: 0;
}
#menu ul li{
  float: right;
  list-style: none;
  margin-right: 30px;
  font-size: 13px;
}
#menu ul li a{
  text-decoration: none;
  color: black;
}
#Say{
  font-size: 24px;
  color: #545454;
  text-align: center;
  margin-bottom: 60px;
}

/* hero header */
#hero_header{
  height: 450px;
  display: inline-block;
  margin-bottom: 50px;
  object-fit:fill;
}

/* products */
#grid{
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
}
#grid .products{
  margin-left:10px;
  margin-right:10px;
  width: 225px;
  margin-bottom: 60px;
  float: left;
}
#grid .products a img{
  width: 225px;
}
#grid .products a{
  text-decoration:none;
}
.name{
  margin-top: 20px;
  margin-bottom: 4px;
}
.name, .cost{
  color:#545454;
  text-align: center;
}
.cost{
  margin-bottom: 0;
}
#clearall{
  clear: left;
}



/* footer */
#linker img{
  padding: 0;
  height: 20px;
}
#linker{
  margin-bottom: 70px;
  text-align: center;
}
#linker a{
  padding: 10px;
}